.c1{
    background-color: black;
    height: 100px;
    width: 100px;
    position: absolute;
}
.c2{
    height: 100px;
    width: 100px;
    position: absolute;
}
.c3{
    margin-top: 100px;
}
div{
    border-style: solid;
    border-color: gold;
}